html {
    font-size: 18px;

}

body {
    margin: 0;
    

}

h1 {
    font-size: 48px;
    padding: 0;
}

h2 {
    font-size: 42;
}

.container {
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;

}

.textStrikethrough {
    text-decoration: line-through;
}

#clownfish {
    border: solid 1px rgb(156, 156, 156);
    box-shadow: 5px 10px #888888;
    padding: 1em;
    width: 350px;

}

#clownfish ul {
    list-style-type: none;
    padding: 0;
}

#clownfishText {
    border: solid 1px rgb(156, 156, 156);
    padding: 1em;
    width: 300px;
    margin-top: 1em;

}